GOOGLE_API_KEY=replace_me
APP_SECRET_TOKEN=replace_me_with_a_long_random_value
POSTGRES_PASSWORD=replace_me_with_a_postgres_admin_password
AI_AGENT_DB_PASSWORD=replace_me_with_a_readonly_database_password
PGADMIN_DEFAULT_PASSWORD=replace_me_with_a_pgadmin_password

POSTGRES_USER=admin
POSTGRES_DB=company_data
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@local.invalid
PGADMIN_PORT=5050
BACKEND_PORT=8000
FRONTEND_PORT=8501
DB_HOST=postgres
DB_PORT=5432
DB_NAME=company_data
DB_USER=ai_agent_user
GOOGLE_MODEL=gemini-2.5-flash
AGENT_VERBOSE=false
AGENT_RECURSION_LIMIT=16
MAX_RESULT_ROWS=100
RATE_LIMIT_PER_MINUTE=12
